<div class="pdg_leftBox">
    <ul class="pdg_leftMenu" id="pdg_leftMenu">
        <li>
            <h4>
                交易管理</h4>
            <a href="{#Tag:LogisticsToolUrl}" class="pdg_selected">物流工具</a><a href="{#Tag:MessageManagementUrl}">站内信管理</a><a
                href="{#Tag:EvaluationManagementUrl}">评价管理</a><a href="{#Tag:SecuritySettingsUrl}">安全设置</a><a
                    href="{#Tag:SoldProductUrl}">已卖出的商品</a> </li>
        <li>
            <h4>
                商品管理</h4>
            <a href="{#Tag:ProductUrl}">我要卖</a><a href="{#Tag:SaleProductUrl}">出售中的商品</a><a href="{#Tag:RecommendUrl}">橱窗推荐</a><a
                href="{#Tag:StoreProductUrl}">仓库中的商品</a> </li>
        <li>
            <h4>
                店铺管理</h4>
            <a href="{#Tag:ViewMyStoreUrl}">查看我的店铺</a><a href="{#Tag:StoreDecorationUrl}">店铺装修</a><a
                href="{#Tag:PictureSpaceUrl}">图片空间</a><a href="{#Tag:ProductCategoryManagementUrl}">商品分类管理</a><a
                    href="{#Tag:OwnerRecommendUrl}">掌柜推荐</a><a href="{#Tag:ApplyCategoryUrl}">申请类目</a><a
                        href="{#Tag:ApplyBrandUrl}">申请品牌</a><a href="{#Tag:MyBrandUrl}">我的品牌</a><a href="{#Tag:CategorySecurityManagementUrl}">类目权限管理</a><a
                            href="{#Tag:CustomerServiceUrl}">客服管理</a> </li>
        <li>
            <h4>
                促销管理</h4>
            <a href="{#Tag:FullSendUrl}">满就送</a><a href="{#Tag:LimitedTimeDiscountUrl}">限时打折</a><a
                href="{#Tag:StoreCouponUrl}">店铺优惠券</a> </li>
        <li>
            <h4>
                营销中心</h4>
            <a href="{#Tag:ZhiTongCheUrl}">直通车</a><a href="{#Tag:ActivityRegistrationUrl}">活动报名</a><a
                href="{#Tag:StoreDataAnalysisUrl}">店铺数据分析</a> </li>
        <li>
            <h4>
                售后管理</h4>
            <a href="{#Tag:RightsManagementUrl}">维权管理</a><a href="{#Tag:ReportManagementUrl}">举报管理</a><a
                href="{#Tag:ConsultationRepliesUrl}">咨询回复</a> </li>
    </ul>
</div>
