<div class="indexNav">
    <div class="navList clearfix">
        <ul class="navListUl ">
            <li class="slectedLi"><a href="http://www.cn100.com">首页</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li id="liChannelMainClothing"><a href="/Clothing">精品服饰</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li id="liChannelMainShoes"><a href="/Shoes">名品鞋城</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li id="liChannelMainLeather"><a href="/Leather">正品皮具</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li><a target="_blank" href="#">化妆品</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li><a target="_blank" href="#">母婴用品</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li><a target="_blank" href="#">珠宝首饰</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li><a target="_blank" href="#">完美家居</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li><a target="_blank" href="#">食品保健</a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
            <li><a target="_blank" href="#">品牌汇<img src="/Content/Images/hotico.gif" alt="" class="indexHot" /></a>
                <!--[if lt IE 9]><s class="searchBg searchBgTriggerlt"></s><s class="searchBg searchBgTriggerrt"></s><![endif]-->
            </li>
        </ul>
    </div>
    <div class="hotNavList clearfix">
        <ul class="hotNavListUl">
            <li style="color: #828282;">热卖&nbsp;:</li>
            <li><a target="_blank" href="#" style="color: #b2a35e;">棉衣</a></li>
            <li><a target="_blank" href="#" style="color: #cd6060;">羽绒服</a></li>
            <li><a target="_blank" href="#" style="color: #91b469;">大衣</a></li>
            <li><a target="_blank" href="#" style="color: #59alcc;">毛衫</a></li>

            <li><a target="_blank" href="#" style="color: #dc9855;">打底裤</a></li>
            <li><a target="_blank" href="#" style="color: #a89594;">羊毛</a></li>
            <li><a target="_blank" href="#" style="color: #828282;">数码</a></li>


            <li><a target="_blank" href="#" style="color: #9b7793;">家具</a></li>
            <li><a target="_blank" href="#" style="color: #57a973;">戒指</a></li>
            <li><a target="_blank" href="#" style="color: #4f6880;">发饰</a></li>
            <li><a target="_blank" href="#" style="color: #a2404a;">情侣对饰</a></li>



            <li><a target="_blank" href="#" style="color: #a79a8c;">首饰盒</a></li>
            <li><a target="_blank" href="#" style="color: #91846c;">珠宝</a></li>
            <li><a target="_blank" href="#" style="color: #9b7793;">钻石</a></li>
            <li><a target="_blank" href="#" style="color: #6b4533;">手表</a></li>
            <li><a target="_blank" href="#" style="color: #db6c12;">球鞋</a></li>
            <li><a target="_blank" href="#" style="color: #c68596;">足球服</a></li>
            <li><a target="_blank" href="#" style="color: #504d46;">运动裤</a></li>
            <li><a target="_blank" href="#" style="color: #5a7398;">篮球</a></li>
            <li><a target="_blank" href="#" style="color: #9b7793;">户外</a></li>
        </ul>
        <div class="navImg">
            <a href="#">
                <img src="/Content/Images/donghuaA.png" alt="" /></a><a href="#"><img src="/Content/Images/donghuaB.png"
                    alt="" /></a>
        </div>
    </div>
</div>

