<div class="cn100footer">
    <div class="footerBox">
        <div class="servicehelp">
            <div class="cn100_bottom_left">
                <div class="Guarantee">
                    <ul class="">
                        <li><a href="http://help.cn100.com/145.html">
                            <img src="/Content/Images/Guarantee.jpg" /><br />
                            <span>中百保障</span></a></li>
                        <li><a href="http://help.cn100.com/114/145/566.html">
                            <img src="/Content/Images/free7.jpg" /><br />
                            <span>七天无条件退货</span></a></li>
                        <li><a href="http://zhaoshang.cn100.com">
                            <img src="/Content/Images/Settled.jpg" /><br />
                            <span>商家入驻</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="cn100_bottom_logo">
                <img src="/Content/Images/cn100_bottom_logo.jpg" width="99" height="99" /></div>
            <div class="cn100_bottom_right">
                <div class="serhelp">
                    <dl>
                        <dt><a href="http://help.cn100.com">帮助中心</a></dt>
                        <dd>
                            <a href="http://help.cn100.com/">新手上路</a></dd>
                        <dd>
                            <a href="http://help.cn100.com/">支付方式</a></dd>
                    </dl>
                </div>
                <div class="cuservice">
                    <dl class="">
                        <dt><a href="/">客服中心</a></dt>
                        <dd>
                            020 8649 4638</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="aboutcn100">
            <p class="cn100_bottom_ICP">
                <a href="/">中百地图</a> <a href="/">关于我们</a> <a href="/blogroll.htm">友情链接</a> <a href="/">中百诚聘</a>
                <span>版权所有中百股份</span> <span>粤<samp>ICP</samp>备<samp>11094058</samp>号</span>
            </p>
        </div>
    </div>
    <div class="copyright">
        <ul>
            <li><a href="#">
                <img src="/Content/Images/footerico1.jpg" /></a></li>
            <li><a href="#">
                <img src="/Content/Images/footerico2.jpg" /></a></li>
            <li><a href="#">
                <img src="/Content/Images/footerico3.jpg" /></a></li>
            <li><a href="#">
                <img src="/Content/Images/footerico4.jpg" /></a></li>
            <li><a href="#">
                <img src="/Content/Images/footerico5.jpg" /></a></li>
        </ul>
    </div>
</div>
