<div class="TopHeader"> 
    <div class="TopHeaderLogin">
        <ul class="TopLoginList">
            <li style="margin-right: 41px;"><a href="http://www.cn100.com">
                <img src="/Content/Images/Loginmain.gif" /></a></li>
        </ul>
    </div>
    <div class="TopHeaderSearchMain" style="float: right; clear: both;">
        <div class="TopHeaderSearchBg">
            <div class="TopHeaderSearch">
                <div class="TopSearchBt">
                    <a href="javascript:void(0);">搜索</a></div>
                <div class="TopAllBt">
                    <input class="searchText jsinput" type="text" value="" />
                    <dl class="selectlist jsdl">
                        <dt>全部 </dt>
                        <dd>
                            商品</dd>
                        <dd>
                            店铺</dd>
                        <dd>
                            全部</dd>
                    </dl>
                    <span></span>
                </div>
            </div>
        </div>
        <div>
            <ul class="hotSearch">
                <li style="color: #828282;">热搜：</li>
                <li><a target="_blank" href="#" style="color: #b2a35e;">棉衣</a></li>
                <li><a target="_blank" href="#" style="color: #cd6060;">羽绒服</a></li>
                <li><a target="_blank" href="#" style="color: #91b469;">大衣</a></li>
                <li><a target="_blank" href="#" style="color: #59alcc;">毛衫</a></li>
                <li><a target="_blank" href="#" style="color: #dc9855;">打底裤</a></li>
                <li><a target="_blank" href="#" style="color: #828282;">更多...</a></li>
            </ul>
        </div>
    </div>
</div>
