<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="TemplateTypePossibleValueSection" type="ERSS.Classes.Mgr.WebConfigSection,ERSS,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>-->
    <section name="CustomDBProxy" type="ORMTest.CustomDBProxyConfigSection,ORMTest,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, CN100.EnterprisePlatform.ORM, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <!--<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.81.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />-->
    </DbProviderFactories>
  </system.data>

  <CustomDBProxy Version="1.0">
    <CustomDBGroups DefaultGroupType="MSSQLServer">
      <!--CustomDBGroup-->
      <add GroupTypeEnum="MSSQLServer" Name="SQLServerDBProxyGroup" Version="1.0">
        <DBNodes ProrityImpactFactor="10" ConstHighPrority="3" ConstMiddlePrority="2" ConstLowerPrority="1" ReadWriteImpactFactor="10" ConstReadWrite="3" ConstRead="1">
          <!--DBNode-->
          <add SequenceNo="1" Name="UserSQLServer" ProrityEnum="High" Duration="300">
            <!--ActionNode-->
            <add Name="Database01" ActionEnum="ReadWrite" Weight="40" ConnectionString="Data Source=localhost;Initial Catalog=TESTDB;uid=sa;pwd=dclpass"></add>
            <add Name="Database02" ActionEnum="Read" Weight="40" ConnectionString="Data Source=localhost;Initial Catalog=TESTDB2;uid=sa;pwd=dclpass"></add>
            <add Name="Database03" ActionEnum="Read" Weight="20" ConnectionString="Data Source=192.168.0.115,115;Initial Catalog=TESTDB;uid=DEV@CN100;pwd=dev@cn100.cn~!2012"></add>
          </add>
          <add SequenceNo="2" Name="SQLServerNode02" ProrityEnum="Lower" Duration="300">
            <add Name="Database01" ActionEnum="ReadWrite" Weight="30" ConnectionString=""></add>
            <add Name="Database02" ActionEnum="Read" Weight="30" ConnectionString=""></add>
            <add Name="Database03" ActionEnum="Read" Weight="40" ConnectionString=""></add>
          </add>
        </DBNodes>
      </add>
      <add GroupTypeEnum="OracleServer" Name="OracleServerDBProxyGroup" Version="1.0">
        <DBNodes ProrityImpactFactor="10" ConstHighPrority="3" ConstMiddlePrority="2" ConstLowerPrority="1" ReadWriteImpactFactor="10" ConstReadWrite="3" ConstRead="1">
          <add SequenceNo="1" Name="OracleServerNode01" ProrityEnum="High" Duration="300">
            <add Name="Database01" ActionEnum="ReadWrite" Weight="40" ConnectionString=""></add>
            <add Name="Database02" ActionEnum="Read" Weight="40" ConnectionString=""></add>
            <add Name="Database03" ActionEnum="Read" Weight="20" ConnectionString=""></add>
          </add>
          <add SequenceNo="2" Name="OracleServerNode02" ProrityEnum="Lower" Duration="300">
            <add Name="Database01" ActionEnum="ReadWrite" Weight="30" ConnectionString=""></add>
            <add Name="Database02" ActionEnum="Read" Weight="30" ConnectionString=""></add>
            <add Name="Database03" ActionEnum="Read" Weight="40" ConnectionString=""></add>
          </add>
        </DBNodes>
      </add>
    </CustomDBGroups>
  </CustomDBProxy>
  <!--<TemplateTypePossibleValueSection>
    <TemplateTypeCollection>
      <add TemplateType="1" value="Contract"/>
      <add TemplateType="2" value="Financial Memo"/>
      <add TemplateType="3" value="Payment"/>
      <add TemplateType="4" value="Quotation Form"/>
    </TemplateTypeCollection>
  </TemplateTypePossibleValueSection>-->

  <connectionStrings>
    <add name="TESTDB" connectionString="Data Source=192.168.0.115,115;Initial Catalog=TESTDB;uid=DEV@CN100;pwd=dev@cn100.cn~!2012" providerName="System.Data.SqlClient"/>
    <add name="TESTDB1" connectionString="Data Source=192.168.0.115,115;Initial Catalog=DEV_ProductDB;uid=DEV@CN100;pwd=dev@cn100.cn~!2012" providerName="System.Data.SqlClient"/>
    <!--<add name="TestDB" connectionString="Data Source=192.168.0.115,115;Initial Catalog=DEV_SalesDB;uid=DEV@CN100;pwd=dev@cn100.cn~!2012" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>