<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wcfclient" type="CN100.EnterprisePlatform.Wcf.Core.ClientFactorySelection,CN100.EnterprisePlatform.Wcf.Core"/>
  </configSections>
  <wcfclient>
    <Host>
      <add ip="127.0.0.1" port="9999" />
    </Host>
  </wcfclient>
</configuration>