<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ApiSection" type="CN100.MSMQ.Configration.APIAssemblySection,CN100.MSMQ.API"/>
    <section name="MSMQSection" type="CN100.MSMQ.MSMQSection, CN100.MSMQ"/>
  </configSections>
  <MSMQSection>
    <Connections>
      <add connectionName="defaultConnect" host="192.168.0.99" queueName="DetailQueue" isTransactional="true" />
    </Connections>
  </MSMQSection>
  <ApiSection>
    <APIAssemblys>
      <add Name="Activity" DLLName="CN100.MSMQ.API" FullClassName="CN100.MSMQ.API.ActivityMessage" ></add>
      <add Name="Product" DLLName="CN100.MSMQ.API" FullClassName="CN100.MSMQ.API.ProductMessage" ></add>
      <add Name="Store" DLLName="CN100.MSMQ.API" FullClassName="CN100.MSMQ.API.StoreMessage" ></add>
      <add Name="Order" DLLName="CN100.MSMQ.API" FullClassName="CN100.MSMQ.API.OrderMessage" ></add>
      <add Name="Freight" DLLName="CN100.MSMQ.API" FullClassName="CN100.MSMQ.API.FreightMessage" ></add>

    </APIAssemblys>
  </ApiSection>


</configuration>