<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="domainSection" type="CN100.EnterprisePlatform.Configuration.DomainSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="imageSection" type="CN100.EnterprisePlatform.Configuration.ImageSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="mqSection" type="CN100.EnterprisePlatform.Configuration.MqSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="wcfSection" type="CN100.EnterprisePlatform.Configuration.WcfSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="searchSection" type="CN100.EnterprisePlatform.Configuration.SearchSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="adSection" type="CN100.EnterprisePlatform.Configuration.AdSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="styleSection" type="CN100.EnterprisePlatform.Configuration.StyleSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="emailSection" type="CN100.EnterprisePlatform.Configuration.EmailSection, CN100.EnterprisePlatform.Configuration"/>
    </sectionGroup>
  </configSections>
  <CN100SectionGroup xmlns="CN100.EnterprisePlatform.Configuration">
    <!--域名配置节-->
    <domainSection>
      <urls>
        <url name="pay" url="http://pay.cn100.com"/>
        <url name="product" url="http://product.cn100.com"/>
      </urls>
    </domainSection>
    <!--图片配置节-->
    <imageSection>
      <urls>
        <url name="Image0" url="http://img0.cn100.com"/>
        <url name="Image1" url="http://img1.cn100.com"/>
        <url name="Image2" url="http://img2.cn100.com"/>
        <url name="Image3" url="http://img3.cn100.com"/>
        <url name="Image4" url="http://img4.cn100.com"/>
      </urls>
    </imageSection>
    <!--MQ配置节-->
    <mqSection>
      <hosts>
        <host serviceName="MQQualityService" ip="192.168.0.36" port="10905"/>
      </hosts>
    </mqSection>
    <!--WCF配置节-->
    <wcfSection>
      <hosts>
        <host name="default" ip="127.0.0.1" port="9999" isDefault="true"/>
        <host name="UpLoad" ip="192.168.0.190" port="9999"/>
      </hosts>
    </wcfSection>
    <!--搜索配置节-->
    <searchSection>
      <search>
        <!--索引库保存位置(虚拟目录)-->
        <add key="productdirectory" value="ProductDirectory"/>
        <!--索引库保存位置(本地磁盘)-->
        <add key="productpath" value="D:\SearchIndex"/>
        <!--隔间更新索引时间-->
        <add key="jobtime" value="5,7,9,14,23"/>
        <!--索引库位置-->
        <add key="dictpath" value="E:\CN100\svn\CN100.SearchEngine\1.03\SearchEngine\dict\"/>
      </search>
    </searchSection>
    <!--广告配置节-->
    <adSection>
    </adSection>
    <!--样式配置节-->
    <styleSection>
      <urls>
        <url name="style0" url="http://style0.cn100.com"/>
        <url name="style1" url="http://style1.cn100.com"/>
        <url name="style2" url="http://style2.cn100.com"/>
        <url name="style3" url="http://style3.cn100.com"/>
        <url name="style4" url="http://style4.cn100.com"/>
        <url name="style5" url="http://style5.cn100.com"/>
      </urls>
    </styleSection>
    <!--邮件配置节-->
    <emailSection>
      <hosts>
        <host name="server0" address="server0@cn100.com" account="account0" password="000000"/>
        <host name="server1" address="server1@cn100.com" account="account1" password="111111"/>
        <host name="server2" address="server2@cn100.com" account="account2" password="222222"/>
        <host name="server3" address="server3@cn100.com" account="account3" password="333333"/>
        <host name="server4" address="server4@cn100.com" account="account4" password="444444"/>
      </hosts>
    </emailSection>
  </CN100SectionGroup>
  <appSettings>
    <add key="SERVER_IPADDRESS" value="192.168.0.111"/>
    <add key="SERVER_PORT" value="9999"/>
  </appSettings>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=192.168.0.115,115;Initial Catalog=TESTDB;uid=DEV@CN100;pwd=dev@cn100.cn~!2012" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
