<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="domainSection" type="CN100.EnterprisePlatform.Configuration.DomainSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="imageSection" type="CN100.EnterprisePlatform.Configuration.ImageSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="mqSection" type="CN100.EnterprisePlatform.Configuration.MqSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="wcfSection" type="CN100.EnterprisePlatform.Configuration.WcfSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="searchSection" type="CN100.EnterprisePlatform.Configuration.SearchSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="adSection" type="CN100.EnterprisePlatform.Configuration.AdSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="styleSection" type="CN100.EnterprisePlatform.Configuration.StyleSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="emailSection" type="CN100.EnterprisePlatform.Configuration.EmailSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="memcachedSection" type="CN100.EnterprisePlatform.Configuration.MemcachedSection, CN100.EnterprisePlatform.Configuration"/>
      <section name="baseSection" type="CN100.EnterprisePlatform.Configuration.BaseSection, CN100.EnterprisePlatform.Configuration"/>
    </sectionGroup>
  </configSections>
  <CN100SectionGroup xmlns="CN100.EnterprisePlatform.Configuration">
    <domainSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </domainSection>
    <imageSection>
      <urls>
        <url name="image0" url="http://img190.cn100.com"/>
        <url name="image1" url="http://img108.cn100.com"/>
      </urls>
    </imageSection>
    <mqSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </mqSection>
    <wcfSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </wcfSection>
    <searchSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </searchSection>
    <adSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </adSection>
    <styleSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </styleSection>
    <emailSection>
      <hosts>
        <host name="210.14.79.83" address="service@cn100.com" account="service" password="admin.123@"/>
      </hosts>
    </emailSection>
    <memcachedSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </memcachedSection>
    <baseSection>
      <!--
			This is just a minimal sample configuration file that shows how to declare
			the configuration sections.

			Because an XML Schema Definition (XSD) is generated for each configuration
			section, it should be trivial to edit these files because you have
			IntelliSense on the XML definition.
			-->
    </baseSection>
  </CN100SectionGroup>
</configuration>