<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="mQClientSection" type="CN100.EnterprisePlatform.MQ.Configuration.MQClientSection,CN100.EnterprisePlatform.MQ.Configuration"/>
  </configSections>
  <mQClientSection xmlns="CN100.EnterprisePlatform.MQ" name="CN100MQServer" port="10905" ip="192.168.0.36"/>
</configuration>
