<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="mqSection" type="CN100.EnterprisePlatform.Configuration.MqSection, CN100.EnterprisePlatform.Configuration"/>
    </sectionGroup>
    <section name="smarkdata" type="Smark.Data.SmarkDataSection,Smark.Data"/>
  </configSections>
  <CN100SectionGroup xmlns="CN100.EnterprisePlatform.Configuration">
    <!--MQ配置节-->
    <mqSection>
      <hosts>
        <host serviceName="MQQualityService" ip="192.168.0.36" port="10905"/>
      </hosts>
    </mqSection>
  </CN100SectionGroup>
  <!--数据库配置节-->
  <smarkdata>
    <Connection>
      <add name="0" type="CN100.EnterprisePlatform.QualityCenter.DAL.OracleDriver,CN100.EnterprisePlatform.QualityCenter.DAL" connectionstring="user id=DEV_CURD;data source=ORCL;password=cn100"/>
    </Connection>
    <Assembly>
      <clear/>
    </Assembly>
  </smarkdata>
  <appSettings>
    <add key="LISTEN_IPADDRESS" value="192.168.0.242"/>
    <add key="LISTEN_PORT" value="9898"/>
    <add key="IS_HTTP" value="True"/>
  </appSettings>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=192.168.0.115,115;Initial Catalog=TESTDB;uid=DEV@CN100;pwd=dev@cn100.cn~!2012" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior  name="Throttled">
          <serviceThrottling
            maxConcurrentCalls="512"
            maxConcurrentSessions="512"
          />
          <serviceMetadata
            httpGetEnabled="true"
            httpGetUrl=""
          />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
