<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<!--MemCahce配置节点开始-->
	<!--必须是“configuration”节点的第一个子节点-->
	<configSections>
		<section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<beitmemcached>
		<add key="CN100Cache" value="192.168.0.36:11211,192.168.0.34:11211,192.168.0.36:11212" />
	</beitmemcached>
	<!--MemCahce配置节点结束-->
	
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
