<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="wcfServiceSection" type="CN100.WcfService.WcfServiceSection, CN100.WcfService"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
  </log4net>
  <wcfServiceSection version="1.0.0.0" serviceName="">
    <host key="fd" iP="192.168.0.242" port="9001"/>
    <items>
      <interface key="" dllName=""/>
    </items>
    <services>
      <service key="" dllName =""/>
    </services>
  </wcfServiceSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
